.div-parent {
    text-align: center;
}

.div-children {
    display: inline-grid;
}


.search-add {
    display: flex;
}

.search-add div {
    display: flex;
    width: 50%;
}

.search {
    justify-content: flex-start;
}

.add {
    justify-content: flex-end;
    margin: 10px 0;
}

h1 {
    margin: 30px auto 15px auto;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px 15px;
    line-height: 2;
}

button {
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid gray;
    margin: 0 5px;
    transition: all 0.1s ease;
}

a {
    text-decoration: none;
    display: inline-block;
}

button:hover {
    transform: scale(1.05);
}

